VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=uncommon-men.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=uncommon-men
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_DATABASE_ID=conference
VITE_FIREBASE_EMULATORS=false
